black~=22.0
flake8>=3.7.9, <5.0
isort~=5.0
kedro~=0.18.5
kedro-viz~=5.3.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=7.2
pymongo~=4.3.3
httpx~=0.23.3
pydantic~=1.10.5
ydata-profiling
pyarrow
